# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Spark
metastore_db/
derby.log
spark-warehouse/

# OS
.DS_Store
Thumbs.db

# IDE / editors
.idea/
.vscode/
*.swp
*.swo

# Optional: ignore large data if you don't want it in the repo
# breast_cancer.csv
